html, body {
    height: 100%;
}
  
html {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Roboto, Arial, sans-serif;
    font-size: 62.5%;
    color: white;
    background: linear-gradient(to bottom, #2473ab 0%,#1e528e 70%,#5b7983 100%);
}

body {
    font-size: 1.8rem;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-size: 4.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}